* {
	-webkit-box-sizing: border-box;
					box-sizing: border-box;
}
html {
	font-size: 10px;
}
main {
	margin-top: 2rem;
}
.description {
	margin-top: 4rem;
}
.description p {
	font-size: 1.5rem;
}
.description span {
	color: #A19C9C;
}
footer {
	background-color: #504C4C;
	height: 8rem;
	margin-top: 3rem;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-align-items: center;
	-webkit-box-align: center;
			-ms-flex-align: center;
					align-items: center;
}
footer small {
	color: #fff;
}
